<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
    <div data-ng-show="project.user._id">
        <form class="container-fluid">
            <div class="col-sm-7  col-md-8 main" data-ng-hide="authentication.user._id==NULL">
                  
                    <div style="font-size:2em; display: block;" class="sub-header">Edit Listing
                    </div>
                    
                        <div class="panel-body">
                                <div class="form-group">
                                  <p>Title:</p>
                                  <input type="text" class="input-group form-control" placeholder="{{project.title}}" data-ng-model="project.title">
                                </div>
                                <div class="form-group">
                                  <p>Author:</p>
                                  <input type="text" class="input-group form-control" placeholder="{{project.author}}" data-ng-model="project.author">
                                </div>
                                <div class="form-group">
                                  <p>ISBN:</p>
                                  <input type="text" class="input-group form-control" placeholder="{{project.isbn}}" data-ng-model="project.isbn">
                                </div>
                                <div class="form-group">
                                  <p>Condition:</p>
                                  <input type="text" class="input-group form-control" placeholder="{{project.condition}}" data-ng-model="project.condition">
                                </div>
                                <div class="form-group">
                                  <p>Contact Information:</p>
                                  <input type="text" class="input-group form-control" placeholder="{{project.contactInformation}}" data-ng-model="project.contactInformation">
                                </div>
                                <div class="form-group">
                                  <p>Edition:</p>
                                  <input type="text" class="input-group form-control" placeholder="{{project.edition}}" data-ng-model="project.edition">
                                </div>
                                <div class="form-group">
                                  <p>Instructor:</p>
                                  <input type="text" class="input-group form-control" placeholder="{{project.instructor}}" data-ng-model="project.instructor">
                                </div>
                                <div class="form-group">
                                  <p>Location:</p>
                                  <input type="text" class="input-group form-control" placeholder="{{project.location}}" data-ng-model="project.location">
                                </div>
                                <div class="form-group">
                                  <p>Price:</p>
                                  <input type="number" class="input-group form-control" placeholder="{{project.price}}" data-ng-model="project.price">
                                </div>
                                <div class="form-group">
                                  <p>Required?:</p>
                                  <input type="text" class="input-group form-control" placeholder="{{project.required}}" data-ng-model="project.required">
                                </div>
                                <div class="form-group">
                                  <p>Image:</p>
                                  <input type="text" class="input-group form-control" placeholder="{{project.url}}" data-ng-model="project.url">
                                  <div class="logo">
                                    <img src={{project.url}}>
                                  </div>
                                </div>
                        </div>
               
                    




                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <button id="submit" type="button" class="btn btn-success btn-block btn-lg" data-ng-click="project.status = 'Active'; CombineStandards(); update();">Submit</button>
                        </div>
                        <div class="col-md-3 col-md-offset-4">
                            <button type="button" class="btn btn-primary btn-block btn-lg" data-ng-click="project.status = 'In Progress'; CombineStandards(); update()";>Save Draft</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 main">
            <!--<span data-ng-hide="authentication.user._id===project.user._id">-->
            <span data-ng-hide="projectOwnership">
                <!-- goes in previous line after span... data-ng-hide="authentication.user._id===project.user._id"-->
                <div class="alert alert-success" role="alert">
                    <p>Textbook Page Not Available.</p>
                    <p><a data-ui-sref="home" class="alert-link">Click here to return to the home page</a></p>
                    <p><a data-ui-sref="projects.list" class="alert-link">Click here to search for a textbook</a></p>
                </div>
            </span>
        </div>
    </div>
    
    <div style="padding-top: 25%" data-ng-hide="project.user._id">
        <div style="display: flex;align-items: center; justify-content: center">
            <div style="color: #64bed8" class="la-cube-transition">
                <div></div>
                <div></div>
            </div>
        </div>
        <h2 class="text-center">Loading</h2>
    </div>
    
</section>
