<!-- uftbex homepage -->
    <!-- Main jumbotron for a primary marketing message or call to action -->
	<!-- top div contains landing photo in css file -->
    <div id = "landing-photo" class="row">
        <div class="jumbotron container">
             <div id = "landing" class="row">
		        <img class="img-responsive col-xs-6 col-xs-offset-3" src="modules/core/img/brand/uftbex_logo_white.png">
	        </div>
            </br>
            <span style ="font-size:30px; color:white">
                <div class = "text-center">Textbooks for every student</div>
            </span>
            <p class = "text-center" style="color:white">Textbooks at UF is an application which provides an enriching marketplace experience for buying and selling used textbooks among students at the University of Florida.</p>
        </div>
	</div>

    <div class="container" style = "margin-top:110px">
      <!-- row of features -->
      <div class="row">
        <div class="col-md-4">
          <div class = "text-center"><span class="glyphicon glyphicon-education" style="font-size:125px; color:#BFBFBF" aria-hidden="true"></span>
          <h2>Personalize Textbook Listings</h2>
          <p style = "font-size:20px">Use the UF Texbook Adoption data to provide a detailed listing.</p></div>
        </div>
        <div class="col-md-4">
		<div class = "text-center">
           <span class="glyphicon glyphicon-book" style="font-size:125px; color:#BFBFBF" aria-hidden="true"></span>
          <h2>Search All Types of Textbooks</h2>
          <p style = "font-size:20px">Narrow down textbooks by their title, author, class, professor, or price.</p>

		  </div>
       </div>
        <div class="col-md-4">
		<div class = "text-center">
 <span class="glyphicon glyphicon-user" style="font-size:125px; color:#BFBFBF" aria-hidden="true"></span>
          <h2>Connect With Other Students</h2>
          <p style = "font-size:20px">Message sellers directly on a listing to communicate your interest.</p>
		  </div>
        </div>
      </div>


           <!-- FOOTER -->
<!--<nav class="navbar navbar-default navbar-static-bottom" style = "margin-top: 110px">
  <div class="container text-center">
			

				 <p></p>
				<span style = "padding-right:40px"><a href="index.html" style =  "text-decoration:none;color:grey">How it works</a></span>
                <span style = "padding-right:40px"><a href="about.html" style =  "text-decoration:none; color:grey">Legal</a></span>
				<span style = "padding-right:40px"><a href="about.html" style =  "text-decoration:none; color:grey">Terms and Conditions</a></span>
				<span style = "padding-right:40px"><a href="about.html" style =  "text-decoration:none; color:grey">Contact</a></div></span>
				
</nav>
-->
</div> <!-- /container -->

  
