<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" data-ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <!--Admin Control Page
    Shows all accounts and their information:
    username, email, book, age, and grades taught.
    Allows quick analysis of demographics.
     -->
    <a data-ng-repeat="user in pagedItems" data-ui-sref="admin.user({userId: user._id})" class="list-group-item">
      <div class="row">
        <div class="col-md-3"><strong>Username</strong></div>
        <div class="col-md-3" data-ng-bind="user.username"></div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Email</strong></div>
          <div class="col-md-3" data-ng-bind="user.email"></div>
           </div>
      <div class="row">
        <div class="col-md-3"><strong>Book</strong></div>
        <div class="col-md-3" data-ng-bind="user.book"></div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Age</strong></div>
        <div class="col-md-3" data-ng-bind="user.age"></div>
      </div>
      <div class="row">
        <div class="col-md-3"><strong>Grades Taught</strong></div>
        <div class="col-md-3" data-ng-bind="user.gradesTaught"></div>
      </div>
    </a>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
