<div class="container-fluid">

        <div class="col-md-12 main">
            <h1 class="page-header">About Us and the Textbooks@UF project</h1>

            <!-- START THE FEATURETTES -->

            <div class="row featurette">
                <div class="col-md-8">
                    <h3 class="featurette-heading">Who are we?</h3>
                    <p class="lead">Two seniors at the University of Florida with the thought of improving the lives of fellow students through our programming. This is a web application we created for our senior project (CIS4914). Currently there is a UF Textbook Exchange group on Facebook which we thought was lacking in a couple of ways. This app enriches the process by adding the ability to couple listings with information from the UF Textbook Adoption site, allowing students to quickly look for their book and enabling messaging among buyers and sellers.</p>
                </div>
                <div class="col-md-4">
                    <h3 class="featurette-heading"> </h3>
                    <img class="featurette-image img-responsive center-block" src="modules/support/img/uf.png" alt="Generic placeholder image">
                </div>
            </div>
        </div>
    </div>
</div>
